html{
    height: 100%;
}

.background{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    height: 100%;
}
body {
    color:black;
    height:100%;
    width: 100%;
    text-align:center;
    font-size: 18px;
    background-color: transparent; 
    font-weight: bold;
  }

  @media (min-width: 576px){
.jumbotron {
    padding: 1rem 0rem;
    background-color: transparent; 
}
  }
.jumbotron{
    background: transparent;
}
.lead{
    font-weight: bold;
}
.container{
    text-align: left;
    background-color: transparent; 
    color:black;
}

.character-image {
	display: inline-block;
	padding: 0px 20px 0px 20px;
	margin: 0px 2px 0px 2px;
	background-color: white;
	border: solid;
    border-color: green;
    background-color: transparent; 
}
.character-image p {
	text-align: center;
	margin: 0px 2px 0px 2px;
}
.character-image p.health {
	text-align: center;
    margin: 0px 2px 0px 2px;
    background-color: transparent; 
}
button{
    background: lightskyblue;
    color: green;
    font-weight: bold;
}
